<div class="row col-xs-12">
				<div class=" alert alert-warning" style="margin-right:-45px;margin-left:-30px">
				
					<a 
						href="<%=baseUrl%>/home" id="homeLink"><%=user.name%></a>
					<a 
							href="<%=baseUrl%>/logout" class="logout">Logout
						</a>
					</div>
</div>

<div class="row col-xs-12">
				<nav class="navbar navbar-inverse " role="navigation"
					style="margin-right: -30px">
					<ul class="nav navbar-nav">
					<li id="navhome"><a
							href="<%=baseUrl%>/home">
								Home
					</a></li>
						<%
							for(var unitId in staticData.units) {
						%>
						<li id="unit<%=unitId%>"><a
							href="<%=baseUrl%>/<%=staticData.organizationName%>?unitId=<%=unitId%>">
								<%=staticData.units[unitId]%>
						</a></li>

						<%
							}
						%>
					</ul>
				</nav>
</div>