<html>
<head>
<%- include head.ejs %>
</head>

<body>

	<div class="container-fluid">
		<div class="body">

			<%- include header.ejs %>


			<div class="row">
				<br>

				<br>
				<br>
				<div class="col-xs-12">
					<div class="alert alert-warning" role="alert">This is your home page. Here all your unread posts will appear related to your subscribed tags. Please click on the above links to see or share posts related to a department or tag.</div>

					<div align="right">
					<select id="filterByPost">
						<option value="-1">All</option>
						<%- include selectposttype.ejs %>
					</select></div>
					<div class="alert alert-danger" role="alert" id="nosubscribedtags">You are not subscribed to any tags yet...subscribe to your interest tags and get updates from those directly at your home page</div>
					
					<br>
					<div id="postList"></div>
					<%- include nopostsfound.ejs %>
				</div>
			</div>

		</div>
	</div>
	<%- include url.ejs %>
</body>


<script src="/js/home.js"></script>


</html>
